:root{
    --hue-value-1: 0;
    --hue-value-2: 230;
    --main-color: hsl(var(--hue-value-1), 74%, 61%);
    --button-hover-color: hsl(var(--hue-value-1), 57%, 53%);
    --body-bg-color: hsl(var(var(--hue-value-1), 63% , 97%))
}